<?xml version="1.0"?>
<robot name="red_cube">
  <link name="red_cube_link">
  
    <!-- Visualización -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.04"/> <!-- 4 cm de lado -->
      </geometry>
      <material name="red">
        <color rgba="0 0 1 1"/> <!-- Azul opaco -->
      </material>
    </visual>

    <!-- Colisión -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.04"/>
      </geometry>
    </collision>

    <!-- Inercia -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="1e-5" ixy="0.0" ixz="0.0"
               iyy="1e-5" iyz="0.0"
               izz="1e-5"/>
    </inertial>

  </link>
</robot>
